* {
    margin: 0;
    padding: 0;
    outline: none;
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
html {
    overflow: hidden;
}
.marker {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #ff4d4d;
    background-color: none;
}
.marker::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    top: 22px;
    left: 2px;
    border-radius: 10px;
    background-color: #ff4d4d;
}
.marker::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 40px;
    top: 3px;
    left: 21px;
    border-radius: 10px;
    background-color: #ff4d4d;
}
.marker span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    top: 60px;
    font-size: 14px;
    color: #333;
}
.top-left {
    top: 50px;
    left: 50px;
}
.top-right {
    top: 50px;
    right: 50px;
}
.bottom-left {
    bottom: 50px;
    left: 50px;
}
.bottom-right {
    bottom: 50px;
    right: 50px;
}

.infoBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.infoBox__text,
.infoBox__result {
    margin-bottom: 10px;
}
.infoBox__restart {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #4caf50;
    transition: 0.3s;
    color: #fff;
    font-size: 14px;
}

.infoBox__restart:hover {
    background-color: #43a047;
    cursor: pointer;
}

.infoBox__result {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #464646;
    border-radius: 10px;
    color: white;
}
.infoBox__result span {
    display: flex;
    width: 100%;
}
.infoBox__result div {
    display: flex;
}
.infoBox__result__comment {
    text-align: left;
    color: #8bc34a;
    margin-bottom: 10px;
}
